@import "../css/lib/bootstrap.min.css";
@import "../css/lib/bootstrap-datetimepicker.min.css";
@import "base.less";
@nav-height:50px;
@menu-height:35px;
html,body,.container-fluid,.row,.dashboard{
	height:100%;
}
.data-grid [field] {
	display:none;
}
#login{
	width:500px;
	margin:0 auto;
	margin-top:10%;
	.panel-body{
		padding:25px 30px 20px 30px;
	}
}

#dashboard-left{
	background-color:@dark-gray;
	width:5%;
	height:100%;
	float:left;
	.menubox{margin-top:50px;}
	.menu{
		display:block;
		width:100%;
		margin:20px 0;
		text-align:center;
		color:#aaa;
		span{display:block; font-size:20px; margin-bottom:5px;}
		border-left:3px solid @dark-gray;
		text-indent:-2px;
	}
	.menu:hover{text-decoration:none;}
	.menu:hover,.menu.on{color:#fff;}
	.menu.on{border-left-color:@orange;}
}
#dashboard-right{
	width:95%;
	height:100%;
	float:right;
	#dashboard-top{
		width:100%;
		height:8%;
		min-height:50px;
		border-bottom:1px solid #f5f5f5; 
		#dashboard-top-sublinks{
			text-align:center;
			height:100%;
			li{
				display:inline-block; padding:0 10px; height:100%;
				font-size:14px; line-height:50px;
				cursor:pointer; color:#aaa;
				border-bottom:2px solid #fff;
			}
			li.on{
				border-color:@orange;
				color:@orange;
			}
			li:hover{color:#666;}
		}
	}
	#dashboard-main{
		width:100%;
		height:92%;
	}
}
