@import "../css/lib/bootstrap.min.css";
@import "../css/lib/bootstrap-datetimepicker.min.css";
@import "base.less";
@nav-height:50px;
@menu-height:35px;
html,body,.container-fluid,.row,.dashboard{
	height:100%;
}
.data-grid [field] {
	display:none;
}
#login{
	width:500px;
	margin:0 auto;
	margin-top:10%;
	.panel-body{
		padding:25px 30px 20px 30px;
	}
}

#dashboard{
	width:100%;
	height:100%;
	#header{
		height:50px;
		width:100%;
	}

}
.theme-a{
	#header{
		background:#000;
	}
}
.theme-b{
	#header{
		background:#FF5300;
	}
}
