@import "../css/lib/bootstrap.min.css";
@import "../css/lib/bootstrap-datetimepicker.min.css";
@import "base.less";
@import "../ueditor/third-party/SyntaxHighlighter/shCoreDefault.css";
/*fix syntax.highlighter*/
.syntaxhighlighter td.code {
	padding:9.5px 0 9.5px 9.5px!important;
}

html,body
{
	height:100%;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
}
a{
	color:@color-main;
}

/*for page of login and reg*/
#user-reg,
#user-login,
{
	background:none;
	.main{
		margin-top:100px;
	}
}

/*for header*/
.header{
	position:fixed;
	z-index:999;
	top:0;
	left:0;
	width:100%;
	.top{
		background:@color-main;
		height:@header-height;
		line-height:@header-height;
		font-size:14px;
		ul{
			height:40px;
			display:inline-block;
			li{
				a{
					color:#ddd;
					font-size:14px;
				}
				a:hover,a.current{
					color:#f1f1f1;
				}
			}
		}
		ul.right{
			float:right;
		}
	}
}

[page=welcome] {
	position:relative;
	top:@header-height+50;
	h1{
		font-size:14px;
		border-bottom:1px solid #f1f1f1;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	.list{
		margin-bottom:20px;
		border-bottom:1px solid #f1f1f1;
		padding-bottom:20px;
		.title{
			display:block;
			margin-bottom:8px;
			line-height:22px;
		}
		.summary{
			line-height:22px;
		}
		.info{
			margin-top:10px;
			color:#aaa;
			a{
				color:#aaa;
			}
			a:hover{
				color:@dark-blue;
			}
		}
	}
}
[page=detail] {
	position:relative;
	top:@header-height+20;
	h1{
		font-size:20px;
		margin-bottom:30px;
		margin-top:10px;
	}
	.blog-info{
		border-bottom:1px solid #f1f1f1;
		padding-bottom:10px;
		margin-bottom:20px;
		color:@light-gray;
	}
	.blog-content{
		p{
			line-height:30px;
			margin-bottom:15px;
			font-size:14px;
			img{
				max-width:100%;
			}
		}
	}
	.blog-moreinfo{
		margin:20px 0;
		border-top:1px solid #f1f1f1;
		padding-top:10px;
	}
}

/*sidebar*/
	.box{
		margin-bottom:20px;
		h5{
			font-size:14px;
			border-bottom:1px solid #f1f1f1;
			padding-bottom:10px;
			margin-bottom:10px;
			position:relative;
			a{
				position:absolute;
				right:0;
				color:@light-gray;
			}
		}
		ul{
			li a{
				line-height:25px;
			}
		}
	}

#login{
	width:450px;
	margin:0 auto;
	.panel-heading{
		height:45px;
		line-height:45px;
		text-align:center;
		padding:0;
		font-size:16px;
		background:none;
	}
	.panel-body{
		padding:0;
		.form-group{
			border-bottom:1px solid #f1f1f1;
		}
		input{
			border:none;
			outline:none;
			width:100%;
			font-size:14px;
		}
		input:focus{
			border:none;
			outline:none;
		}
		input[name=captcha] {
			width:330px;
		}
		img.captcha{
			float:right;
			margin-top:3px;
		}
		[type=submit]{
			width:100%;
			height:40px;
			line-height:40px;
			padding:0;
			font-size:14px;
			background:#999;
			outline:none !important;
			border:none !important;
		}
	}
	.msg-block-error{
		background:rgb(255, 242, 240);
		line-height: 20px;
		background: #fff2f0;
		padding: 10px 15px;
		color: #EC1B1B;
	}
	.oinfo{
		height:40px;
		line-height:40px;
		text-align:center;
		background:#f1f1f1;
		a{
		font-size:14px;
		color:#999;
		}
	}
}

/* comments, comment-publish */
#comments, #comment-publish{
	margin-top:30px;
	h2{font-size:16px; padding-bottom:10px; margin-bottom:20px; border-bottom:1px solid #f5f5f5;}
}
#comments{
	.comment{
		padding:10px 0;
		border-bottom:1px solid #f5f5f5;
		min-height:50px;
		h5{
			font-weight:600;
			margin-bottom:10px;
			color:#000;
		}
		.comment-content{text-indent:2em; color:#666;}
		.comment-info{color:#999; text-align:right; font-size:12px;}
	}
}
